* {
    box-sizing: border-box;
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
     margin: 5;
    padding: 0;
     color: rgba(255, 255, 255, 0.74);
     /* background: lightgrey; */
    text-align: center;
    font-weight: bold;
}

body {
    background-image: url("images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
width: 50%;
height: 50em;
text-align:center;
margin: auto;
padding: 10px;
font-family: 'Times New Roman', Times, serif;

}


button{
    width: 100px;
    height: 30px;
    text-align:center;
    margin: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

button:hover {
    background: darkcyan;
    cursor: pointer;
} 

.option{
    margin: 10px;
}

.dataField {
    width: 200px;
    height: 25px;
    margin:10px;
}

.textbox {
    color:black
}

.textbox:focus, input:focus {
    color: black;
}

input {
    color:black;
}

#White {
    background: white
}

#DarkSeaGreen {
    background: darkseagreen
}

#DarkCyan {
    background: DarkCyan
}

#LightPink {
    background: lightpink
}

#menuType {
font-size: 1.2em;
}

